__pycache__
.venv
.git
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
*.log
*.egg
*.egg-info
*.dist-info
*.zip
*.tar.gz
*.rar
*.tar
*.gz
*.swp
*.bak
*.tmp
*.DS_Store
*.idea
*.vscode
*.coverage
*.mypy_cache
*.pytest_cache
*.tox
*.coverage.*
*.hypothesis
*.ipynb_checkpoints
*.coverage.xml
*.coverage.json
*.coverage.html
*.coverage.data
*.coverage.lcov
*.coverage.txt
*.coverage.json.gz
*.coverage.xml.gz
*.coverage.html.gz
*.coverage.data.gz
*.coverage.lcov.gz
*.coverage.txt.gz
*.coverage.json.bz2
*.coverage.xml.bz2

data/
logs/

test*
.env
issues*